.siteTitle {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 42px;
	border: none;
	border-left: 2px solid #1a8cff;
	padding-left: 5px;
	margin-bottom: 30px;
}
.theList h4{
	font-weight: bold;
	font-size: 18px;
}

.theList {
	font-family: 'Noto Sans', sans-serif;
}

.siteFont {
	font-family: 'Noto Sans', sans-serif;
}

.newLink {
	margin-bottom: 20px;
}

.theListTitle { /* Title for the Show route of the List */
	margin-bottom: 20px;
}

.theListDescription { /* The description for the Show route of the list */
	margin-bottom: 20px;
}

.listInfo {
	font-size: x-small;
	color: #888;
	margin-top: -10px;
}

.listVotes {
	text-align: right;
	color: #c6c6c6;
	font-weight: bold;
}

.listTitle {
	text-align: left;
}

.itemTitle {
	margin-bottom: 20px;
}

.itemDescription {
	text-indent: 50px;
	margin-bottom: 20px;
}

.gutter-14 > [class^="col-"], .gutter-14 > [class^=" col-"] { /* Changing the gutter width beetween Bootstrap columns*/
  padding-right: 7px;
  padding-left: 7px;
}

.glyphicon-thumbs-up, .glyphicon-thumbs-down {
	margin-left: 4px;
	margin-right: 4px;
}