<!DOCTYPE html>
<html>
<head>
	<title>ListIt. Make some lists.</title>
</head>
<body class='theBody'>
	<div class='container'>
		<div class='row'>
			<h2 class='siteTitle'>ListIt</h2>
		</div>	
		<% @List.each do |l| %>
		<div class='row theList gutter-14'>
	   		<div class="col-xs-1 listVotes">
	   			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
	   			<span><%= l.votes %></span>
	   			<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
	   		</div>
			<div class="col-xs-6 listTitle">
				<p><%= link_to(l.title, list_path(l)) %></p>
				<p class='listInfo'>Submitted <%= time_ago_in_words(l.created_at) %> ago</p>
			</div>
		</div>
		<% end %>	
	</div>
</body>
</html>