<!DOCTYPE html>
<html>
<head>
	<title>ListIt. Make some lists.</title>
</head>
<body class='theBody'>
	<div class='container'>
		<div class='row'>
			<h2 class='siteTitle'>ListIt</h2>
		</div>
		<div class='row'>
		<%= link_to('Go back', root_url) %>
		</div>
		<div class='row theList'>
			<h4><%= @List.title %></h4>
			<p><%= raw @List.content %></p>
		</div>
	</div>
</body>
</html>